<div id="footer_content">
  <div id="footer_contacts">
    <img src="imagem/logo/logo_omega_branca.png" alt="" />
    <p>Empresa de comunicação visual, sacolas e diversos</p>

    <div id="footer_social_media">
      <a
        href="https://www.instagram.com/omega_comunicacaovisual?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
        class="footer-link"
        id="instagram"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a
        href="https://web.facebook.com/omegacomunicacaovisual?locale=pt_BR"
        target="_blank"
        class="footer-link"
        id="facebook"
      >
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a
        href="https://wa.me/+5534991505970/?text=Ol%C3%A1,%20gostaria%20de%20realizar%20um%20or%C3%A7amento%21"
        class="footer-link"
        target="_blank"
        id="whatsapp"
      >
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>

  <div class="footer-produtos">
    <h3>Produtos</h3>
    <ul class="footer-list">

      <li>
        <a href="#" class="footer-link">Sacolas personalizadas</a>
      </li>
      <li>
        <a href="#" class="footer-link">Etiquetas tags</a>
      </li>
      <li>
        <a href="#" class="footer-link">Cartão de visita</a>
      </li>
      <li>
        <a href="#" class="footer-link">Panfletos</a>
      </li>
      <li>
        <a href="#" class="footer-link">Lixo car</a>
      </li>
      <li>
        <a href="#" class="footer-link">Brindes em geral</a>
      </li>
    </ul>
    {{! <ul class="footer-list">
      <li>
        <a href="#" class="footer-link">Panfletos</a>
      </li>
      <li>
        <a href="#" class="footer-link">Lixo car</a>
      </li>
      <li>
        <a href="#" class="footer-link">Brindes em geral</a>
      </li>
    </ul> }}
  </div>
  <div id="footer_subscribe">
    <h3>Escrever</h3>
    <p>
      Entre em contato para sugestões
    </p>
    <div id="input_group">
      <input type="email" id="email" />
      <button>
        <i class="fa-regular fa-envelope"></i>
      </button>
    </div>
  </div>
</div>
<div id="footer_copyright">
  &#169 2024 all rights reservs
</div>