<div id="footer_content">
  <div id="footer_contacts">
    <img src="imagem/logo/logo_omega_branca.png" alt="" />
    <p>Empresa de comunicação visual, sacolas e diversos</p>

    <div id="footer_social_media">
      <a href="#" class="footer-link" id="instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="#" class="footer-link" id="facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#" class="footer-link" id="whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
  <ul class="footer-list">
    <li>
      <h3>Blog</h3>
    </li>
    <li>
      <a href="#" class="footer-link">Tech</a>
    </li>
    <li>
      <a href="#" class="footer-link">Adventures</a>
    </li>
    <li>
      <a href="#" class="footer-link">Music</a>
    </li>
  </ul>
  <ul class="footer-list">
    <li>
      <h3>Products</h3>
    </li>
    <li>
      <a href="#" class="footer-link">App</a>
    </li>
    <li>
      <a href="#" class="footer-link">Desktop</a>
    </li>
    <li>
      <a href="#" class="footer-link">Cloud</a>
    </li>
  </ul>
  <div id="footer_subscribe">
    <h3>Subscribe</h3>
    <p>
      Entre em contato para sugestões
    </p>
    <div id="input_group">
      <input type="email" id="email" />
      <button>
        <i class="fa-regular fa-envelope"></i>
      </button>
    </div>
  </div>
</div>
<div id="footer_copyright">
  &#169 2024 all rights reservs
</div>