<div class="navbar">
  <div class="nav-logo">
    <a class="nav-link active" aria-current="page" href="#"><img
        class="img-nav"
        src="/imagem/logo/logo_omega_branca.png"
        alt=""
      /></a>
  </div>
  <div class="nav-list">
    <ul>
      <li class="nav-item"><a href="#" class="nav-link">Página Inicial</a></li>
      <li class="nav-item dropdown"><a href="#" class="nav-link">Produtos</a>
        <div class="dropdown-content">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Brindes</a></li>
            <li><a class="dropdown-item" href="#">Sacolas</a></li>
          </ul>
          
         
        </div>
      </li>
      
      <li class="nav-item"><a href="#" class="nav-link">Quem Somos</a></li>
    </ul>
  </div>
  <div class="nav-login">
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      Entrar
    </a>
  </div>
  <div class="menu-mobile-icon">
    <button onclick="menuShow()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</div>
<div class="menu-mobile">
  <ul>
    <li class="nav-item"><a
        href="paginaincial"
        onclick="menuShow()"
        class="nav-link"
      >Página Inicial</a></li>
    <div class="dropdown-center dropdown-mobile">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="triggerId"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Produtos
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Brindes</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Sacolas</a>
      </div>
    </div>
    <li class="nav-item"><a href="sobre" class="nav-link">Quem Somos</a></li>
  </ul>
  <div class="nav-login">
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      Entrar
    </a>
  </div>
</div>