<div class="navbar">
  <div class="logo"> 
      <a class="navbar-brand"><img class="img_nav" src="/imagem/logo/logo_omega_branca.png" alt=""></a>
    </div>
   
   <div class="menu-nav">
      <ul>
        <li>
          <a href="">Pagina Inicial</a>
        </li>
        <li>
          <a href="">Produtos</a>
        </li>
        <li>
          <a href="">Sobre</a>
        </li>
      </ul>
   </div>

   <div class="menu-mobile">
      
   </div>
</div>