<div class="navbar">
  <div class="nav-logo">
    <a class="nav-link active" aria-current="page" href="#"><img
        class="img-nav"
        src="/imagem/logo/logo_omega_branca.png"
        alt=""
      /></a>
  </div>
  <div class="nav-list">
    <ul>
      <li class="nav-item"><a href="#" class="nav-link">Página Inicial</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Produtos</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Quem Somos</a></li>
    </ul>
  </div>
  <div class="nav-login">
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      Login
    </a>
  </div>
  <div class="menu-mobile">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>