<div>
  <div>
    <a class="nav-link active" aria-current="page" href="#"><img
        class="img-nav"
        src="/imagem/logo/logo_omega_branca.png"
        alt=""
      /></a>
  </div>
  <div>
    <ul>
      <li><a href="#">Página Inicial</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Quem Somos</a></li>
    </ul>
  </div>
  <div>
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      Login
    </a>
  </div>
</div>

<div class="menu-mobile">
  <i class="fa-solid fa-bars"></i>
</div>