
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --color-inicial:#bfc0c7;
  --color-meio:rgb(18, 3, 96);
  --color-final: blue;
  --gradiente:linear-gradient(var(--color-inicial),var(--color-meio),var(--color-final));
  --color-secundary: rgb(254, 128, 68,1 );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Andika, Helvetica, sans-serif;
  }

  /* background:var(--gradiente); */
