
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --color-inicial:#bfc0c7;
  --color-meio:rgb(18, 3, 96);
  --color-final: blue;
  --gradiente:linear-gradient(var(--color-inicial),var(--color-meio),var(--color-final));
  --color-secundary: orangered;
}

* {
    margin: 0;
    padding: 0;
    font-family: Andika, Helvetica, sans-serif;
  }

  .navbar{
    background:var(--gradiente);
    box-shadow: 0px 3px 10px var(--color-meio);/*serve para adicionar uma sombra*/
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
  .nav-logo{
    align-items: center;
    display: flex;
  }
  .nav-logo img{
    height: 5rem;
  }
  .nav-list{
    align-items: center;
    display: flex;
  }
  .nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .nav-item{
    margin: 0 15px;
  }
  .nav-link{
    color: #fff;
    font-size: 1.15rem;
    text-decoration: none;
  }
  .nav-link:hover{
    color: var(--color-secundary);
  }
  .menu-mobile-icon{
    display: none;
  }
  .menu-mobile-icon i{
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
.menu-mobile{
  background: var(--gradiente);
  display:none;
}
.menu-mobile ul{
  list-style: none;
}
  /* responsividade inicio */

  @media screen and (max-width: 730px){
    
  }



  /* responsividade fim */